---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [21]:
import pandas as pd
import numpy as np
energy = pd.read_excel('Energy Indicators.xls', skiprows = 17,  skipfooter = 38)
energy = energy.drop(energy.columns[[0,1]], axis = 1)
energy.set_axis(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'], axis = 1, inplace = True)
energy.replace(to_replace = "...", value = np.NaN, inplace = True)
energy['Energy Supply'] = energy.apply(lambda x : (x['Energy Supply'] * 1000000), axis = 1)

import re
def clean(item):
    if re.search("[0-9]+", item):
        spos = re.search("[0-9]+", item).start()
        return item[:spos]
    if re.search("\(.*", item):
        spos = re.search("\(.*", item).start()
        return item[:spos]
    return item
    
def renamecountry(item):
    item = clean(item)
    if(item == "Republic of Korea"):
        return "South Korea"
    if(item == "United States of America"):
        return "United States"
    if(item == "United Kingdom of Great Britain and Northern Ireland"):
        return "United Kingdom"
    if(item == "China, Hong Kong Special Administrative Region"):
        return "Hong Kong"
    return item
        
energy['Country'] = energy['Country'].apply(renamecountry)

energy[95:120]

,Country,Energy Supply,Energy Supply per Capita,% Renewable
100,Ireland,5.480000e+08,117.0,20.921060
101,Isle of Man,0.000000e+00,4.0,0.793651
102,Israel,9.970000e+08,128.0,0.872525
103,Italy,6.530000e+09,109.0,33.667230
104,Jamaica,1.080000e+08,39.0,5.615602
105,Japan,1.898400e+10,149.0,10.232820
106,Jersey,3.000000e+06,34.0,0.000000
107,Jordan,3.250000e+08,45.0,0.335979
108,Kazakhstan,3.548000e+09,208.0,8.112784
109,Kenya,8.730000e+08,20.0,73.757100
110,Kiribati,1.000000e+06,8.0,0.000000
111,Kuwait,1.475000e+09,410.0,0.000000
112,Kyrgyzstan,1.670000e+08,29.0,93.476550
113,Lao People's Democratic Republic,8.500000e+07,13.0,93.290090
114,Latvia,1.830000e+08,91.0,48.832340
115,Lebanon,2.890000e+08,55.0,6.610478
116,Lesotho,4.800000e+07,23.0,100.000000
117,Liberia,8.300000e+07,19.0,0.000000
118,Libya,7.070000e+08,113.0,0.000000
119,Liechtenstein,3.000000e+06,79.0,96.470590

In [17]:
GDP = pd.read_csv('world_bank.csv', skiprows = 4)
GDP.head()

def renamecountry(item):
    if(item == "Korea, Rep."):
        return "South Korea"
    if(item == "Iran, Islamic Rep."):
        return "Iran"
    if(item == "Hong Kong SAR, China"):
        return "Hong Kong"
    return item
    
GDP['Country Name'] = GDP['Country Name'].apply(renamecountry)

GDP = GDP[['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

GDP.set_index(['Country Name'], inplace = True)
GDP[100:120]

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,
IDA & IBRD total,1.697394e+13,1.841843e+13,1.944638e+13,1.990883e+13,2.138217e+13,2.265753e+13,2.376510e+13,2.489885e+13,2.594497e+13,2.686382e+13
IDA total,1.270939e+12,1.353141e+12,1.424120e+12,1.493211e+12,1.582445e+12,1.657974e+12,1.736997e+12,1.832294e+12,1.937910e+12,2.027635e+12
IDA blend,6.862294e+11,7.280447e+11,7.632609e+11,8.027284e+11,8.516727e+11,8.962054e+11,9.404459e+11,9.897364e+11,1.048144e+12,1.093273e+12
Indonesia,6.026267e+11,6.408635e+11,6.794031e+11,7.108518e+11,7.550942e+11,8.016818e+11,8.500237e+11,8.972617e+11,9.423391e+11,9.875141e+11
IDA only,5.804125e+11,6.208040e+11,6.566687e+11,6.858835e+11,7.258169e+11,7.562503e+11,7.906358e+11,8.365198e+11,8.832065e+11,9.279495e+11
Isle of Man,4.109333e+09,4.415768e+09,4.850663e+09,4.953844e+09,5.420292e+09,5.681266e+09,6.036319e+09,6.307562e+09,NaN,NaN
India,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Not classified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ireland,2.249653e+11,2.374346e+11,2.323003e+11,2.192023e+11,2.200761e+11,2.257719e+11,2.261131e+11,2.293562e+11,2.412813e+11,2.601287e+11
Iran,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Iraq,1.147716e+11,1.163527e+11,1.259263e+11,1.301818e+11,1.385167e+11,1.489698e+11,1.697309e+11,1.808859e+11,1.770543e+11,1.807724e+11
Iceland,1.296337e+10,1.419397e+10,1.440387e+10,1.372960e+10,1.323689e+10,1.350005e+10,1.365975e+10,1.419193e+10,1.445117e+10,1.502302e+10
Israel,2.004788e+11,2.127783e+11,2.192881e+11,2.220701e+11,2.343217e+11,2.461086e+11,2.531417e+11,2.616301e+11,2.684316e+11,2.751104e+11
Italy,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Jamaica,1.391255e+10,1.411178e+10,1.400985e+10,1.338988e+10,1.319051e+10,1.341781e+10,1.333684e+10,1.340991e+10,1.350214e+10,1.362366e+10
Jordan,2.110461e+10,2.283007e+10,2.448123e+10,2.582196e+10,2.642538e+10,2.710208e+10,2.782061e+10,2.860772e+10,2.949351e+10,3.019625e+10
Japan,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Kazakhstan,1.211971e+11,1.319836e+11,1.363391e+11,1.379752e+11,1.480473e+11,1.587068e+11,1.660073e+11,1.756357e+11,1.828368e+11,1.850308e+11
Kenya,3.335057e+10,3.563533e+10,3.571810e+10,3.689928e+10,3.999966e+10,4.244428e+10,4.437760e+10,4.690425e+10,4.940512e+10,5.219611e+10
Kyrgyz Republic,3.979135e+09,4.319067e+09,4.681939e+09,4.817074e+09,4.794358e+09,5.079923e+09,5.075445e+09,5.629454e+09,5.855985e+09,6.059146e+09

In [14]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

ScimEn = ScimEn[ScimEn['Rank'] < 16]
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [20]:
new_df = pd.merge(ScimEn, energy, how = "inner", left_on = 'Country', right_on = 'Country')
#new_df = pd.merge(new_df, GDP, how = "inner", left_on = 'Country', right_on = 'Country Name')
#print(new_df.shape)
new_df

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353
10,11,Italy,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230
11,12,Spain,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590
12,14,Australia,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810
13,15,Brazil,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [1]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [160]:
len(new_df) - 15

145

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [173]:
Top15 = my_df
Top15

def calc(rows):
    req = rows[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    rows['avgGDP'] = np.mean(req)
    return rows
    
Top15 = Top15.apply(calc, axis = 1)
Top15.sort_values(['avgGDP'], ascending = False, inplace = True)
Top15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,avgGDP
United States,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0,9.083800e+10,286.0,11.570980,...,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,1.536434e+13
China,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0,1.271910e+11,93.0,19.754910,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,6.348609e+12
Japan,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0,1.898400e+10,149.0,10.232820,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,5.542208e+12
Germany,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0,1.326100e+10,165.0,17.901530,...,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,3.493025e+12
France,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0,1.059700e+10,166.0,17.020280,...,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,2.681725e+12
United Kingdom,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0,7.920000e+09,124.0,10.600470,...,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,2.487907e+12
Brazil,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0,1.214900e+10,59.0,69.648030,...,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,2.189794e+12
Italy,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0,6.530000e+09,109.0,33.667230,...,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,2.120175e+12
India,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0,3.319500e+10,26.0,14.969080,...,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,1.769297e+12
Canada,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0,1.043100e+10,296.0,61.945430,...,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.660647e+12
Russian Federation,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0,3.070900e+10,214.0,17.288680,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,1.565459e+12
Spain,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0,4.923000e+09,106.0,37.968590,...,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,1.418078e+12
Australia,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0,5.386000e+09,231.0,11.810810,...,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,1.164043e+12
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,1.100700e+10,221.0,2.279353,...,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.106715e+12
Turkey,17.0,5879.0,5827.0,91857.0,23165.0,15.62,104.0,4.897000e+09,64.0,28.536690,...,6.991896e+11,7.037962e+11,6.698319e+11,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11,7.704245e+11

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [182]:
Top15 = my_df
Top15

def calc(rows):
    req = rows[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    rows['avgGDP'] = np.mean(req)
    return rows
    
Top15 = Top15.apply(calc, axis = 1)
Top15.sort_values(['avgGDP'], ascending = False, inplace = True)

Top15.iloc[5]['2015'] - Top15.iloc[5]['2006']

246702696075.3999

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [183]:
Top15 = my_df
np.mean(Top15['Energy Supply per Capita'])

153.93333333333334

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [193]:
Top15 = my_df
percent = np.max(Top15['% Renewable'])
country = Top15[(Top15['% Renewable'] == percent)].index[0]
res = (country, percent)
res

('Brazil', 69.64803)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [201]:
Top15 = my_df
Top15['ratio'] = Top15['Self-citations']/Top15['Citations']
max_ratio = np.max(Top15['ratio'])
country = Top15[(Top15['ratio']) == max_ratio].index[0]
res = (country, max_ratio)
res

<ipython-input-201-6871f15a36e6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15['ratio'] = Top15['Self-citations']/Top15['Citations']

('China', 0.6893126179389422)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [217]:
Top15 = my_df
Top15['PopEst'] = Top15['Energy Supply']/Top15['Energy Supply per Capita']
Top15.sort_values(['PopEst'], ascending = False).index[2]

<ipython-input-217-5354717e8067>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15['PopEst'] = Top15['Energy Supply']/Top15['Energy Supply per Capita']

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [224]:
Top15 = my_df

Top15['citperperson'] = (Top15['Citable documents']/(Top15['Self-citations']/Top15['Citations']))

x = Top15[['Energy Supply per Capita', 'citperperson']]
x.corr(method = "pearson").iloc[1][0]

<ipython-input-224-1cbc04d2b9f1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15['citperperson'] = (Top15['Citable documents']/(Top15['Self-citations']/Top15['Citations']))

0.40724054084218275

In [225]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [227]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [279]:
Top15 = my_df

median = Top15['% Renewable'].median()
def func(item):
    if(item >= median):
        return 1
    return 0
    
Top15['flag'] = Top15['% Renewable'].apply(func)
Top15.sort_values(['Rank'], ascending = True, inplace = True)
HighRenew = Top15[['Rank']]
HighRenew

<ipython-input-279-51585cf18c36>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15['flag'] = Top15['% Renewable'].apply(func)
<ipython-input-279-51585cf18c36>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15.sort_values(['Rank'], ascending = True, inplace = True)

                    Rank
China                  1
United States          2
Japan                  3
United Kingdom         4
Russian Federation     5
Canada                 6
Germany                7
India                  8
France                 9
South Korea           10
Italy                 11
Spain                 12
Australia             14
Brazil                15
Turkey                17

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [314]:
Top15 = my_df
Top15['PopEst'] = Top15['Energy Supply']/Top15['Energy Supply per Capita']

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
x = pd.DataFrame(pd.Series(ContinentDict))
x = x.reset_index()
x.set_axis(['Country','Continent'], axis = 1, inplace = True)
x

size = []
sum_ = []
mean_ = []
std_ = []
continent_ = []

def scalc(rows):
    rows = rows['Country'].tolist()
    return Top15[(Top15.index.isin(rows))]['PopEst'].sum()

def mcalc(rows):
    rows = rows['Country'].tolist()
    return Top15[(Top15.index.isin(rows))]['PopEst'].mean()

def stdcalc(rows):
    rows = rows['Country'].tolist()
    return Top15[(Top15.index.isin(rows))]['PopEst'].std()

for continent, rows in x.groupby('Continent'):
    continent_.append(continent)
    size.append(rows['Country'].count())
    sum__ = scalc(rows)
    sum_.append(sum__)
    mean__ = mcalc(rows)
    mean_.append(mean__)
    std__ = stdcalc(rows)
    std_.append(std__)


a = pd.DataFrame()
a['Continent'] = pd.Series(continent_)
a['size'] = pd.Series(size)
a['sum'] = pd.Series(sum_)
a['mean'] = pd.Series(mean_)
a['std'] = pd.Series(std_)
a.set_index(['Continent'], inplace = True)
a

<ipython-input-314-a5b56d18436b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15['PopEst'] = Top15['Energy Supply']/Top15['Energy Supply per Capita']

               size           sum          mean           std
Continent
Asia              5  2.821591e+09  7.053977e+08  7.138779e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [318]:
Top15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2010,2011,2012,2013,2014,2015,ratio,PopEst,citperperson,flag
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1.367645e+09,183903.495600,1
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,...,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,3.176154e+08,282801.069478,0
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,...,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,1.274094e+08,109736.619684,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,...,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,6.387097e+07,110772.416090,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,...,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1.435000e+08,50483.180325,1
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,...,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,3.523986e+07,92556.874175,1
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,...,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,8.036970e+07,86263.631080,1
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,...,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,1.276731e+09,51357.781263,0
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,...,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,6.383735e+07,59252.786126,0
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,...,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,4.980543e+07,60512.061297,0
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,...,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,5.990826e+07,45283.706538,1
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,...,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,4.644340e+07,48018.898348,1
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,...,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,2.331602e+07,50744.881776,0
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,...,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,2.059153e+08,36245.789942,1
Turkey,17,5879,5827,91857,23165,15.62,104,4.897000e+09,64.0,28.536690,...,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11,0.252185,7.651562e+07,23106.010749,1

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [378]:
Top15 = my_df

#Top15 = Top15.drop(['bins'], axis  = 1)
Top15['bins'] = pd.cut(Top15['% Renewable'], 5)

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
x = pd.DataFrame(pd.Series(ContinentDict))
x = x.reset_index()
x.set_axis(['Country','Continent'], axis = 1, inplace = True)

x = pd.merge(x, Top15, how = "inner", left_on = "Country", right_index = True)
x.sort_values(['Continent'], ascending = True, inplace = True)
x.set_index(['Continent', 'bins'], inplace = True)
x.index

<ipython-input-378-fd9dbd909d51>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Top15['bins'] = pd.cut(Top15['% Renewable'], 5)

MultiIndex([(         'Asia', (15.753, 29.227]),
            (         'Asia',  (2.212, 15.753]),
            (         'Asia',  (2.212, 15.753]),
            (         'Asia',  (2.212, 15.753]),
            (    'Australia',  (2.212, 15.753]),
            (       'Europe',  (2.212, 15.753]),
            (       'Europe', (15.753, 29.227]),
            (       'Europe', (15.753, 29.227]),
            (       'Europe', (15.753, 29.227]),
            (       'Europe', (29.227, 42.701]),
            (       'Europe', (29.227, 42.701]),
            ('North America',  (2.212, 15.753]),
            ('North America', (56.174, 69.648]),
            ('South America', (56.174, 69.648])],
           names=['Continent', 'bins'])

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [371]:
Top15 = my_df.copy()

Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']

def separator(item):
    br = str(item).split('.')
    left = br[0][::-1]
    integer = ""
    i = 0
    while(i < len(left)):
        integer += left[i:i+3]
        integer += ","
        i += 3
    item = integer[:-1][::-1] + "." + br[1]
    return item
        
    
Top15['PopEst'] = Top15['PopEst'].apply(separator)

Top15['PopEst']

China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Turkey                         76,515,625.0
Name: PopEst, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!